---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome inside the web">
	<main>
		<h1>Bienvenue dans le cours de 
			<span class="text-gradient">Programmation Web 1</span>
		</h1>

		<ul role="list" class="link-card-grid">
			<Card
				href="/cm-1"
				title="Le web et ses fondamentaux"
				body="Le 1er cours présentant les fondations d'un site web et la base du langage HTML."
			/>
			<Card
				href="/slide-cm-1"
				title="Le web et ses fondamentaux"
				body="Les slides du 1er cours. Simple. Basique"
			/>
			<Card
				href="/tp-1"
				title="TP1 - HTML 101"
				body="Le 1er TP de l'UE sur les fondamentaux du langage HTML"
			/>
			<li class="link-card-grid"></li>
			<Card
				href="/cm-2"
				title="CSS Is Awesome"
				body="Le 2e CM, présentant les bases du langage CSS et son intégration avec HTML"
			/>
			<Card
				href="/tp-2"
				title="TP2 - CSS basics"
				body="Le 2e TP de l'UE sur les bases du langage CSS et du design"
			/>
			<Card
				href="/cm-3"
				title="Design statique avancé et les début du JS"
				body="Le 3e CM, présentant les possibilités de design avancé et le début de la dynamisation de sites avec Javascript"
			/>
			<Card
				href="/tp-3"
				title="TP 3 - Approfondir le CSS"
				body="Le 3e TP sur le CSS avancé majoritairement, et le premier exercice sur le JS"
			/>
			<Card
				href="/cm-4"
				title="JS, le minimum pour commencer à en faire"
				body="Le 4e CM, présentant les bases et un peu plus du langage Javascript"
			/>
			<Card
				href="/tp-4"
				title="TP 4 - Du JS, du JS, du JS"
				body="Du JS, du JS, du JS..."
			/>
			<Card
				href="/tp-5"
				title="TP 5 - Concevoir une application web"
				body="Concevoir une application minimaliste et apprendre à manipuler les dates en JS"
			/>
			<Card
				href="/cm-5"
				title="CM 5 - Production-ready website"
				body="Toutes les ficelles pour créer un site web prêt à être déployé"
			/>
			<Card
				href="/tp-6"
				title="TP 6 - ES6, Ajax et JS avancé"
				body=""
			/>
			<Card
				href="/project"
				title="Sujet du projet"
				body="Présentation du projet de ce semestre. Attention il évoluera au fil des semaines ;)"
			/>
			<Card
				href="/infos"
				title="Infos utiles"
				body="Quelques infos utiles pour l'UE"
			/>
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}
	
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
