---
import Layout from '../layouts/RevealLayout.astro';
---

<Layout title="Le web et ses fondamentaux">
	<section data-markdown>
		# 1er cours : Le web et ses fondamentaux
	</section>
	<section data-markdown>
		## Les premiers pas d'Internet

		* Avant Internet, Arpanet, son ancêtre militaire
		* Naissance d'Internet dans le courant de l'année 1990
		* Apparition par la suite des premiers protocoles qui forgeront la base du web (World Wide Web)
			* le protocole HTTP
			* le langage HTML
		* Création du premier navigateur Internet
	</section>
	<section data-markdown>
		## L'évolution d'Internet

		* Une fois les premiers protocoles établis, ce sont rajoutés dans les années suivantes :
			* les futures versions d'HTML (jusqu'à HTML5)
			* CSS (Cascading Style Sheets), et ses différentes versions jusqu'à CSS3
			* JS (Javascript)
			* les moteurs de recherches (Yahoo, Google, etc...)
			* le développement de nombreux navigateurs Internets (Netscape, IE, Firefox, Chrome, Safari, etc...)
	</section>
	<section data-markdown>
		## HTML en quelques mots
		**HTML (HyperText Markup Language) est la base d'un site web;
		il s'agit de sa structure ainsi que de son contenu.**
	</section>
	<section data-markdown>
		## HTML 101
		* C'est un langage de markup (tel que LaTeX, Markdown, XML et bien d'autres)
		* Il est caractérisé par l'utilisation d'un ensemble de tags permettant la structuration et la hiérarchisation du contenu
		* La majorité des tags HTML sont soit des tags de structuration soit des tags de gestion du contenu
	</section>
	
	<section>
		<section data-markdown>
			## Les tags de structuration

			Les tags de structuration permettent de structurer et hiérarchiser le code HTML 
			sans affecter l'affichage ou le rendu de la page.
		</section>
		<section>
			<h2>Les tags de structuration</h2>
		<table>
			<thead>
				<tr>
					<th>Tag</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><code>&lt;!DOCTYPE&gt;</code></td>
					<td>Définit le type du document.</td>
				</tr>
				<tr>
					<td><code>&lt;html&gt;</code></td>
					<td>Définit le début du HTML</td>
				</tr>
				<tr>
					<td><code>&lt;head&gt;</code></td>
					<td>Balise qui permet de définir les métadatas et autres balises de description de la page</td>
				</tr>
				<tr>
					<td><code>&lt;body&gt;</code></td>
					<td>Balise qui contient le coeur du contenu HTML</td>
				</tr>
				<tr>
					<td><code>&lt;meta&gt;</code></td>
					<td>Une balise de métadata</td>
				</tr>
				<tr>
					<td><code>&lt;!-- --&gt;</code></td>
					<td>Insérer un commentaire dans le code HTML</td>
				</tr>
			</tbody>
		</table>
		</section>
	</section>
	
	<section>
		<section data-markdown>
			## Les tags de contenu

			Les tags de contenu ou de stylisation permettent d'afficher le contenu sur une page.
			Chaque navigateur possède par ailleurs son propre style par défaut
		</section>

		<section>
			<h2>Les tags de contenu</h2>
			<table>
				<thead>
					<tr>
						<th>Tag</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<code>&lt;h1&gt;</code>, <code>&lt;h2&gt;</code>, …, <code>&lt;h6&gt;</code>
						</td>
						<td>
							Les titres de la page
						</td>
					</tr>
					<tr>
						<td>
							<code>&lt;p&gt;</code>
						</td>
						<td>Un paragraphe</td>
					</tr>
					<tr>
						<td>
							<code>&lt;br&gt;</code>
						</td>
						<td>Un saut de ligne</td>
					</tr>
					<tr>
						<td>
							<code>&lt;hr&gt;</code>
						</td>
						<td>Un espace horizontal pour diviser deux blocs</td>
					</tr>
					<tr>
						<td><code>&lt;div&gt;</code></td>
						<td>Un bloc de la page</td>
					</tr>
					<tr>
						<td><code>&lt;span&gt;</code></td>
						<td>Un sous-bloc de la page, par exemple dans du texte</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section>
			<h2>Les tags de contenu</h2>
			<table>
				<thead>
					<tr>
						<th>Tag</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><code>&lt;table&gt;</code></td>
						<td>Un tableau</td>
					</tr>
					<tr>
						<td><code>&lt;strong&gt;</code>, <code>&lt;b&gt;</code></td>
						<td>Mettre en gras du contenu</td>
					</tr>
					<tr>
						<td><code>&lt;u&gt;</code></td>
						<td>Souligner du contenu</td>
					</tr>
					<tr>
						<td><code>&lt;i&gt;</code>, <code>em</code></td>
						<td>Mettre du contenu en italique</td>
					</tr>
					<tr>
						<td><code>&lt;img&gt;</code></td>
						<td>Insérer une image</td>
					</tr>
					<tr>
						<td><code>&lt;a&gt;</code></td>
						<td>Un lien hypertexte</td>
					</tr>
					<tr>
						<td><code>&lt;ul&gt;</code>,  <code>&lt;ol&gt;</code></td>
						<td>Une liste, respectivement non ordonnée et ordonnée</td>
					</tr>
				</tbody>
			</table>
		</section>
	</section>
	<section>
		<section data-markdown>
			## Les attributs des tags HTML

			Les attributs permettent de personnaliser le fonctionnement de chacun des tags HTML en précisant
			élément par élément les comportements spécifiques de chacun des tags.
		</section>

		<section>
			<h2>Les attributs des tags HTML</h2>
			<table>
				<thead>
					<tr>
						<th>Attribut</th>
						<th>Description</th>
						<th>Tags</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>id</td>
						<td>Attribut permettant de définir l'identifiant d'un élément.
							Utile pour le CSS et le JS que nous verrons plus tard dans le cours
						</td>
						<td>Universel</td>
					</tr>
					<tr>
						<td>class</td>
						<td>Attribut permettant de définir une classe d'élément.
							Utile pour le CSS et le JS que nous verrons plus tard dans le cours
						</td>
						<td>Universel</td>
					</tr>
					<tr>
						<td>title</td>
						<td>Attribut permettant de décrire une balise. Utile pour l'accessibilité et la clarté des infos</td>
						<td>Universel</td>
					</tr>
					<tr>
						<td>src</td>
						<td>Le lien source d'une image</td>
						<td><code>img</code></td>
					</tr>
				</tbody>
			</table>
		</section>
		<section>
			<h2>Les attributs des tags HTML</h2>
			<table>
				<thead>
					<tr>
						<th>Attribut</th>
						<th>Description</th>
						<th>Tags</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>alt</td>
						<td>Un texte alternatif à afficher lorsque l'élément ne peut pas être affiché</td>
						<td><code>img</code></td>
					</tr>
					<tr>
						<td>href</td>
						<td>Attribut permettant de faire référence à une autre page HTML / lien Internet</td>
						<td><code>a</code>, <code>link</code></td>
					</tr>
					<tr>
						<td>data-*</td>
						<td>Préfixe d'attributs personnalisés (nous verrons comment les utilisés dans la suite du cours)</td>
						<td>Universel</td>
					</tr>
					<tr>
						<td>aria-*</td>
						<td>Préfixe d'attributs d'accessibilité</td>
						<td>Universel</td>
					</tr>
				</tbody>
			</table>
		</section>
	</section>

	<section>
		<h2>Les outils du dev web</h2>
		<img src="/bob-the-builder.gif" alt="Bob the builder meme" />
	</section>

	<section data-markdown>
		## Les outils du dev web
		* L'IDE (Webstorm, VS Code, Sublime Text, VIM, etc...) à configurer
		*	Le navigateur web (Chrome, Edge, Firefox, Brave, etc...)
		* Un serveur pour déployer son site web et le rendre accessible 
	</section>

	<section data-markdown>
		## L'interlude HTTP
		
		`http://www.exemple.com:80/chemin/vers/monfichier.html#anchorId`

		1. http:// est le protocole de communication utilisé. 
		Le plus courant de nos jours est son alternative sécurisée, le protocole https 
		2. www.exemple.com est le nom de domaine de notre site
		3. :80, le port du serveur de domaine. Deux ports par défaut existent, 80 pour http et 443 pour https
		4. /chemin/vers/monfichier.html est le chemin qui permet d'accéder au fichier désiré (ici, monfichier.html)
		5. #anchorId (partie optionnelle) est une ancre. 
		Une ancre permet de cibler un élément (par son attribut id) et de se rendre directement sur celui-ci au chargement de la page.
		Par défaut (sans ancre), on atterit au sommet de la page.
	</section>

	<section>
		<h2>Mon premier site web</h2>

		<pre><code class="html" data-trim data-noescape><script type="text/template">
<!-- http://www.brucelawson.co.uk/2010/a-minimal-html5-document/ -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lorem ipsum</title>
</head>
<body>
  <h1>Some lorem ipsum</h1>
  <div>
    <h2>Lorem ipsum</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing
      elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua.
      Aliquam sem fringilla ut morbi tincidunt augue
      interdum. Turpis massa sed elementum tempus egestas
      sed. Ut faucibus pulvinar
      elementum integer enim neque volutpat ac tincidunt.
      Adipiscing at in tellus integer feugiat scelerisque.
      A condimentum vitae
      sapien pellentesque habitant morbi tristique senectus
      et. Bibendum est ultricies integer quis auctor elit
      sed vulputate. Nisl
      rhoncus mattis rhoncus urna neque viverra justo nec
      ultrices. Mauris a diam maecenas sed enim. Consequat
      nisl vel pretium lectus
      quam id leo in vitae. At tempor commodo ullamcorper
      a. Phasellus vestibulum lorem sed risus ultricies
      tristique nulla. Fusce id
      velit ut tortor pretium. Posuere urna nec tincidunt
      praesent semper feugiat nibh. Tellus cras adipiscing
      enim eu turpis egestas
      pretium aenean. Tellus molestie nunc non blandit
      massa.
    </p>
    <p>
      Sed adipiscing diam donec adipiscing. In nibh mauris
      cursus mattis molestie a iaculis. Mauris commodo quis
      imperdiet massa
      tincidunt nunc. Quis eleifend quam adipiscing vitae
      proin. Etiam erat velit scelerisque in. Scelerisque
      eu ultrices vitae auctor
      eu augue ut lectus arcu. Vulputate sapien nec
      sagittis aliquam malesuada bibendum. Id leo in vitae
      turpis massa. Vitae suscipit
      tellus mauris a diam maecenas. Molestie a iaculis at
      erat pellentesque. Cras sed felis eget velit aliquet
      sagittis id
      consectetur purus. Pretium nibh ipsum consequat nisl
      vel pretium lectus quam. Posuere urna nec tincidunt
      praesent. In ornare
      quam viverra orci sagittis eu volutpat odio. Cursus
      in hac habitasse platea dictumst quisque sagittis.
    </p>
	</div>
</body>
</html>
		</script></code></pre>
	</section>
</Layout>