---
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="stylesheet" href="/github-markdown.css" />
		<title>{frontmatter.title}</title>
	</head>
	<body class="markdown-body">
        <header class="text-center italic">
            <h1>
                {frontmatter.title}
            </h1>
            <aside class="text-center italic">
                <p>by {frontmatter.author}</p>
                <p>
                    Université de Strasbourg 
                    - UFR Mathématique & Informatique 
                    - L1S2 
                    - Programmation Web 1
                </p>
            </aside>
        </header>
        <slot />
	</body>
</html>
<style>
    .text-center {
        text-align: center;
    }
    .italic {
        font-style: italic;
    }
    .markdown-body {
        margin: 2rem auto 0rem;
        max-width: 48rem;
        padding: 4rem;
    }
</style>