---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="stylesheet" href="/reveal.css" />
		<link rel="stylesheet" href="/sunblind.css" />
		<link href="https://unpkg.com/nord-highlightjs@0.1.0/dist/nord.css" rel="stylesheet" type="text/css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="reveal">
			<div class="line top"></div>
			<div class="line bottom"></div>
			<div class="line left"></div>
			<div class="line right"></div>
			<div class="slides">
				<slot />
			</div>
		</div>
	</body>
</html>
<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
</style>
<script>
	import Reveal from 'reveal.js';
	import Markdown from 'reveal.js/plugin/markdown/markdown.esm.js';
	import RevealHighlight from 'reveal.js/plugin/highlight/highlight.js'

	let deck = new Reveal({
		plugins: [ Markdown, RevealHighlight ],
		margin: 0.2
	})
	deck.initialize();
</script>